* {
    margin: 0;
    background-color: aliceblue;
}

#myTable {
    text-align: center;
    width: 20%;
    border: 2px solid black;
    padding: 5px;
    font-size: 18px;
    margin-top: 20px;
}

#myTable tr{
    border: 2px solid black;
    
}
.header {
    text-align: center;
    width: 15%;
    border: 1px black;
    padding: 5px;
}
input {
    width: 30%;
    padding: 5px;
    background-color: white;
    color: black;
    font-size: 16px;
}